.column {
  height: 200px;

  margin-bottom: 5px;

  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 200px;

  background: #68E2DE;

  cursor: move;
}

.column.over {
  background: #39ADAE;
}

